{
    "name": "{{ host.name }}",
    "description": "{{ host.description | default('') }}",
    "inventory": {{ inv_id }},
    "enabled": true,
    "variables": "{{ host.variables | from_yaml | default('---') }}"
}
