{
    "name": "{{ inventory.name }}",
    "description": "{{ inventory.description | default('') }}",
    "organization": {{ org_id }},
    "variables": "{{ inventory.variables | from_yaml | default('') }}"
}
