---

- name: 'Install required packages'
  package:
    name: '{{ item }}'
    state: installed
  with_items:
  - haproxy
  - openssl-devel
  - firewalld
  - python-firewall
  - libsemanage-python
  notify: 'enable and start haproxy services'

- name: 'Start firewalld'
  service: 
    name: firewalld
    state: started
    enabled: yes

- name: 'Open Firewall for HAproxy use'
  firewalld: 
    port: "{{item}}"
    permanent: yes
    state: enabled
    immediate: yes
  with_items:
  - 80/tcp
  - 443/tcp
  - 8443/tcp

- name: 'Enable syslog logging' 
  copy:
    src: rsyslog_haproxy.conf
    dest: /etc/rsyslog.d/haproxy.conf
  notify: 'restart rsyslog'

