[defaults]
host_key_checking = False
retry_files_enabled = False
callback_whitelist = profile_tasks

[inventory]
# fail more helpfully when the inventory file does not parse (Ansible 2.4+)
unparsed_is_failed=true
