---
- name: 'Get the Job Template ID based on the Unified Job Template name'
  block:
    - name: 'Get the unified_job_template'
      rest_get:
        host_url: '{{ ansible_tower.url | default(default_ansible_tower_url) }}'
        rest_user: '{{ ansible_tower.admin_username | default(default_ansible_tower_admin_username) }}'
        rest_password: '{{ ansible_tower.admin_password }}'
        api_uri: '/api/v2/unified_job_templates/?name={{ schedule.unified_job_template }}'
      register: r_unified_job_template
    - name: 'Set unified_job_template_id fact'
      set_fact:
        unified_job_template_id: '{{ r_unified_job_template.rest_output[0].id | int }}'
      when:
        - r_unified_job_template.rest_output | length > 0
  when:
    - schedule.unified_job_template is defined

- name: 'Load up the schedule'
  uri:
    url: '{{ ansible_tower.url | default(default_ansible_tower_url) }}/api/v2/schedules/'
    user: '{{ ansible_tower.admin_username | default(default_ansible_tower_admin_username) }}'
    password: '{{ ansible_tower.admin_password }}'
    force_basic_auth: yes
    method: POST
    body: "{{ lookup('template', 'schedule.j2') }}"
    body_format: 'json'
    headers:
      Content-Type: 'application/json'
      Accept: 'application/json'
    validate_certs: '{{ ansible_tower.validate_certs | default(validate_tower_certs) | default(true) }}'
    status_code: 201,400
  register: tower_schedule_output

- name: 'Get the existing Schedule ID based on the Schedule name and update existing schedule'
  block:
    - name: 'Get the schedule_id'
      rest_get:
        host_url: '{{ ansible_tower.url | default(default_ansible_tower_url) }}'
        rest_user: '{{ ansible_tower.admin_username | default(default_ansible_tower_admin_username) }}'
        rest_password: '{{ ansible_tower.admin_password }}'
        api_uri: '/api/v2/schedules/?name={{ schedule.name }}'
      register: r_schedules
    - name: 'Set schedule_id fact'
      set_fact:
        schedule_id: '{{ r_schedules.rest_output[0].id }}'
      when:
        - r_schedules.rest_output | length > 0
    - name: 'Update existing schedule'
      uri:
        url: '{{ ansible_tower.url | default(default_ansible_tower_url) }}/api/v2/schedules/{{ schedule_id }}/'
        user: '{{ ansible_tower.admin_username | default(default_ansible_tower_admin_username) }}'
        password: '{{ ansible_tower.admin_password }}'
        force_basic_auth: yes
        method: PUT
        body: "{{ lookup('template', 'schedule.j2') }}"
        body_format: 'json'
        headers:
          Content-Type: 'application/json'
          Accept: 'application/json'
        validate_certs: '{{ ansible_tower.validate_certs | default(validate_tower_certs) | default(true) }}'
        status_code: 200
  when:
    - tower_schedule_output.status == 400

- name: 'Clear/Update facts'
  set_fact:
    unified_job_template_id: null
    schedule_id: ''
