{
    "name": "{{ job_template.name }}",
    "description": "{{ job_template.description | default('') }}",
    "job_type": "run",
    "inventory": {{ inventory_id }},
    "project": {{ project_id }},
    "playbook": "{{ job_template.playbook }}",
    "credential": null,
    "vault_credential": null,
    "forks": 0,
    "limit": "",
    "verbosity": 0,
    "extra_vars": "{{ job_template.extra_vars | default('') }}",
    "job_tags": "",
    "force_handlers": false,
    "skip_tags": "",
    "start_at_task": "",
    "timeout": 0,
    "use_fact_cache": false,
    "host_config_key": "",
    "ask_diff_mode_on_launch": false,
    "ask_variables_on_launch": {{ job_template.ask_variables_on_launch | default(false) }},
    "ask_limit_on_launch": false,
    "ask_tags_on_launch": false,
    "ask_skip_tags_on_launch": false,
    "ask_job_type_on_launch": false,
    "ask_verbosity_on_launch": false,
    "ask_inventory_on_launch": false,
    "ask_credential_on_launch": false,
    "survey_enabled": false,
    "become_enabled": false,
    "diff_mode": false,
    "allow_simultaneous": true
}
