{
    "name": "{{ credential_type.name }}",
    "description": "{{ credential_type.description | default('') }}",
    "kind": "cloud",
    "inputs": {
        "fields": [
            {% for idx in range(0, credential_type.fields.__len__() | int) -%}
            {
                "type": "{{ credential_type.fields[idx].type }}",
                "id": "{{ credential_type.fields[idx].id }}",
                "label": "{{ credential_type.fields[idx].label }}",
                "secret": {{ credential_type.fields[idx].secret }}
            {% if not loop.last -%}
            },
            {% else -%}
            }
            {% endif -%}
            {% endfor -%}
        ],
        "required": [
            {% for idx in range(0, credential_type.required.__len__() | int) -%}        
            {% if not loop.last -%}
            "{{ credential_type.required[idx].id }}",
            {% else -%}
            "{{ credential_type.required[idx].id }}"
            {% endif -%}
            {% endfor -%}
        ]
    },
    "injectors": {
        "extra_vars": {
            {% for idx in range(0, credential_type.injectors_extra_vars.__len__() | int) -%}
            {% if not loop.last -%}
            "{{ credential_type.injectors_extra_vars[idx].name }}": "{{ credential_type.injectors_extra_vars[idx].id }}",
            {% else -%}
            "{{ credential_type.injectors_extra_vars[idx].name }}": "{{ credential_type.injectors_extra_vars[idx].id }}"
            {% endif -%}
            {% endfor -%}
        }
    }
}