---

- block: # when ansible_tower.inventories is defined

  - name: "Set default values"
    set_fact:
      processed_inventories: []
      existing_organizations_output: []
      existing_projects_output: []
      existing_credentials_output: []

  # Utilize the `rest_get` library routine to ensure REST pagination is handled
  - name: "Get the existing organizations"
    rest_get:
      host_url: "{{ ansible_tower.url | default(default_ansible_tower_url) }}"
      rest_user: "{{ ansible_tower.admin_username | default(default_ansible_tower_admin_username) }}"
      rest_password: "{{ ansible_tower.admin_password }}"
      api_uri: "/api/v2/organizations/"
    register: existing_organizations_output

  - name: "Get the existing projects"
    rest_get:
      host_url: "{{ ansible_tower.url | default(default_ansible_tower_url) }}"
      rest_user: "{{ ansible_tower.admin_username | default(default_ansible_tower_admin_username) }}"
      rest_password: "{{ ansible_tower.admin_password }}"
      api_uri: "/api/v2/projects/"
    register: existing_projects_output

  - name: "Get the existing credentials"
    rest_get:
      host_url: "{{ ansible_tower.url | default(default_ansible_tower_url) }}"
      rest_user: "{{ ansible_tower.admin_username | default(default_ansible_tower_admin_username) }}"
      rest_password: "{{ ansible_tower.admin_password }}"
      api_uri: "/api/v2/credentials/"
    register: existing_credentials_output

  - name: "Process the inventory entries"
    include_tasks: process-inventory.yml
    with_items:
    - "{{ ansible_tower.inventories }}"
    loop_control:
      loop_var: inventory

  - name: "Eliminate the inventories that should not be present"
    uri:
      url: "{{ ansible_tower.url | default(default_ansible_tower_url) }}/api/v2/inventories/{{ item.id }}/"
      user: "{{ ansible_tower.admin_username | default(default_ansible_tower_admin_username) }}"
      password: "{{ ansible_tower.admin_password }}"
      force_basic_auth: yes
      method: DELETE
      validate_certs: no
      status_code: 200,202,204
    with_items:
    - "{{ existing_inventories_output.rest_output | get_remaining_items(processed_inventories, 'name', 'name')}}"
    when:
    - delete_missing_items|default(True) == True

  when:
  - ansible_tower.inventories is defined
