{
    "AUTH_LDAP_SERVER_URI": "{{ ansible_tower.ldap.uri }}",
    "AUTH_LDAP_BIND_DN": "{{ ansible_tower.ldap.bind_dn }}",
    "AUTH_LDAP_BIND_PASSWORD": "{{ ansible_tower.ldap.bind_password }}",
    "AUTH_LDAP_START_TLS": false,
    "AUTH_LDAP_CONNECTION_OPTIONS": {
        "OPT_NETWORK_TIMEOUT": 30,
        "OPT_REFERRALS": 0
    },
    "AUTH_LDAP_USER_SEARCH": [
        "{{ ansible_tower.ldap.user_search_dn }}",
        "SCOPE_SUBTREE",
        "(uid=%(user)s)"
    ],
    "AUTH_LDAP_USER_DN_TEMPLATE": "{{ ansible_tower.ldap.user_dn_template }}",
    "AUTH_LDAP_USER_ATTR_MAP": {
        "first_name": "givenName",
        "last_name": "sn",
        "email": "mail"
    },
    "AUTH_LDAP_GROUP_SEARCH": [
        "{{ ansible_tower.ldap.group_search_dn}}",
        "SCOPE_SUBTREE",
        "(objectClass=groupofnames)"
    ],
    "AUTH_LDAP_GROUP_TYPE": "GroupOfNamesType",
    "AUTH_LDAP_REQUIRE_GROUP": "{{ ansible_tower.ldap.require_group }}",
    "AUTH_LDAP_DENY_GROUP": null,
    "AUTH_LDAP_USER_FLAGS_BY_GROUP": {
        "is_superuser": "{{ ansible_tower.ldap.admin_group }}"
    },
    "AUTH_LDAP_ORGANIZATION_MAP": {
{% for org in ansible_tower.ldap.organization_map %}
        "{{ org.name }}": {
            "admins": "{{ org.admin_group }}",
            "remove_admins": true,
            "remove_users": true,
            "users": [
{% for user_group in org.user_groups %}
{% if loop.index == org.user_groups|length %}
                "{{ user_group }}"
{% else %}
                "{{ user_group }}",
{% endif %}
{% endfor %}
            ]
{% if loop.index == ansible_tower.ldap.organization_map|length %}
        }
{% else %}
        },
{% endif %}
{% endfor %}
    },
    "AUTH_LDAP_TEAM_MAP": {
{% for team in ansible_tower.ldap.team_map %}
        "{{ team.name }}": {
            "organization": "{{ team.organization }}",
            "users": [
{% for user_group in team.user_groups %}
{% if loop.index == team.user_groups|length %}
                "{{ user_group }}"
{% else %}
                "{{ user_group }}",
{% endif %}
{% endfor %}
            ],
            "remove": true
{% if loop.index == ansible_tower.ldap.team_map|length %}
        }
{% else %}
        },
{% endif %}
{% endfor %}
    }
}
