[Unit]
Description=PostgreSQL Docker Container
After=docker.service
Requires=docker.service
PartOf={{ quay_service }}

[Service]
EnvironmentFile={{ systemd_environmenfile_dir }}/{{ postgresql_name }}
TimeoutStartSec=0
Restart=always
ExecStartPre=/usr/bin/docker pull ${POSTGRESQL_IMAGE}
ExecStart=/usr/bin/docker run --rm -e POSTGRESQL_USER=${POSTGRESQL_USER} -e POSTGRESQL_PASSWORD=${POSTGRESQL_PASSWORD} -e POSTGRESQL_ADMIN_PASSWORD=${POSTGRESQL_ADMIN_PASSWORD} -e POSTGRESQL_DATABASE=${POSTGRESQL_DATABASE} -v ${POSTGRESQL_HOST_STORAGE_DIR}:${POSTGRESQL_CONTAINER_STORAGE_DIR}:Z --name %n ${POSTGRESQL_IMAGE}
ExecStop=/usr/bin/docker stop %n
ExecReload=/usr/bin/docker restart %n

[Install]
WantedBy=multi-user.target