ansible==2.7.4
boto
boto3
botocore
Paste>=2.0.2
eventlet!=0.18.3,!=0.20.1,<0.21.0,>=0.18.2
openstacksdk
python-ceilometerclient
python-cinderclient
python-glanceclient
python-heatclient
python-keystoneclient
python-mistralclient
python-neutronclient
python-novaclient
python-openstackclient
python-swiftclient
python-troveclient
passlib
shade
selinux
