{
    "extra_data": {},
    "inventory": null,
    "job_type": null,
    "job_tags": "",
    "skip_tags": "",
    "limit": "",
    "diff_mode": null,
    "verbosity": null,
    "credential": null,
    "unified_job_template": {{ job_template_id }}
}
