# README #

This is a default `README.md` for `{{ repo.repo_name }}`.

### How to get started with this repository ###

Commits directly to `master` are not allowed.

To commit changes to `master`:

* create a fork or branch of `{{ repo.repo_name }}/master`
* commit changes to your fork / branch
* submit a pull request to merge your changes up to `{{ repo.repo_name }}/master` once changes are approved

