---

# Default dictionary of bonds if none specified

bonds:
  - device: bond0.mgmt
    bonding_opts: 'mode=4 miimon=100'
    slaves:
      - device: eth0
      - device: eth1
    ipaddr: '{{ mgmt_net_ip }}'
    netmask: '{{ mgmt_net_netmask }}'
    gateway: '{{ mgmt_net_gateway }}'
    dns1: '{{ mgmt_net_dns1 }}'
    dns2: '{{ mgmt_net_dns2 }}'
  - device: bond1.vms
    bonding_opts: 'mode=4 miimon=100'
    slaves:
      - device: eth2
      - device: eth3

