{ "name": "{{ atlassian.jira.permission_scheme.name }}",
  "description": "{{ atlassian.jira.permission_scheme.description }}",
  "permissions": [
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "ADMINISTER_PROJECTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "BROWSE_PROJECTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "MANAGE_SPRINTS_PERMISSION"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "VIEW_DEV_TOOLS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "VIEW_READONLY_WORKFLOW"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "ASSIGNABLE_USER"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "ASSIGN_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "CLOSE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "CREATE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "DELETE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "EDIT_ISSUES"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "LINK_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "MODIFY_REPORTER"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "MOVE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "RESOLVE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "SCHEDULE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "SET_ISSUE_SECURITY"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "TRANSITION_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "MANAGE_WATCHERS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "VIEW_VOTERS_AND_WATCHERS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "ADD_COMMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "DELETE_ALL_COMMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "DELETE_OWN_COMMENTS"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "EDIT_ALL_COMMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "EDIT_OWN_COMMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "CREATE_ATTACHMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "DELETE_ALL_ATTACHMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "DELETE_OWN_ATTACHMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "DELETE_ALL_WORKLOGS"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "DELETE_OWN_WORKLOGS"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "EDIT_ALL_WORKLOGS"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "EDIT_OWN_WORKLOGS"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.admin_group }}"
       },
       "permission": "WORK_ON_ISSUES"
     },
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "ASSIGNABLE_USER"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "ASSIGN_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "BROWSE_PROJECTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "CLOSE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "CREATE_ISSUES"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "DELETE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "EDIT_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "LINK_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "MOVE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "RESOLVE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "SCHEDULE_ISSUES"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "TRANSITION_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "ADD_COMMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "DELETE_OWN_COMMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "EDIT_OWN_COMMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "CREATE_ATTACHMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "DELETE_OWN_ATTACHMENTS"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "DELETE_OWN_WORKLOGS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "EDIT_OWN_WORKLOGS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "VIEW_DEV_TOOLS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "VIEW_READONLY_WORKFLOW"
     },
    
    {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.core_team }}"
       },
       "permission": "WORK_ON_ISSUES"
     },
     
    {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "ADMINISTER_PROJECTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "BROWSE_PROJECTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "MANAGE_SPRINTS_PERMISSION"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "VIEW_DEV_TOOLS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "VIEW_READONLY_WORKFLOW"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "ASSIGNABLE_USER"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "ASSIGN_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "CLOSE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "CREATE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "DELETE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "EDIT_ISSUES"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "LINK_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "MODIFY_REPORTER"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "MOVE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "RESOLVE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "SCHEDULE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "SET_ISSUE_SECURITY"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "TRANSITION_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "MANAGE_WATCHERS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "VIEW_VOTERS_AND_WATCHERS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "ADD_COMMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "DELETE_ALL_COMMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "DELETE_OWN_COMMENTS"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "EDIT_ALL_COMMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "EDIT_OWN_COMMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "CREATE_ATTACHMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "DELETE_ALL_ATTACHMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "DELETE_OWN_ATTACHMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "DELETE_ALL_WORKLOGS"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "DELETE_OWN_WORKLOGS"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "EDIT_ALL_WORKLOGS"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "EDIT_OWN_WORKLOGS"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.lead }}"
       },
       "permission": "WORK_ON_ISSUES"
     },
    
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "ASSIGNABLE_USER"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "ASSIGN_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "BROWSE_PROJECTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "CLOSE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "CREATE_ISSUES"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "DELETE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "EDIT_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "LINK_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "MOVE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "RESOLVE_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "SCHEDULE_ISSUES"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "TRANSITION_ISSUES"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "ADD_COMMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "DELETE_OWN_COMMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "EDIT_OWN_COMMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "CREATE_ATTACHMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "DELETE_OWN_ATTACHMENTS"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "DELETE_OWN_WORKLOGS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "EDIT_OWN_WORKLOGS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "VIEW_DEV_TOOLS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "VIEW_READONLY_WORKFLOW"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.team_member }}"
       },
       "permission": "WORK_ON_ISSUES"
     },
         {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.viewer }}"
       },
       "permission": "ADD_COMMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.viewer }}"
       },
       "permission": "BROWSE_PROJECTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.viewer }}"
       },
       "permission": "DELETE_OWN_COMMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.viewer }}"
       },
       "permission": "EDIT_OWN_COMMENTS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.viewer }}"
       },
       "permission": "LINK_ISSUES"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.viewer }}"
       },
       "permission": "VIEW_DEV_TOOLS"
     },
  
     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.viewer }}"
       },
       "permission": "VIEW_READONLY_WORKFLOW"
     },

     {
       "holder": {
         "type": "group",
         "parameter": "{{ atlassian.jira.group.viewer }}"
       },
       "permission": "WORK_ON_ISSUES"
     }
   ]
 }
