---

ansible_user: cloud-user
ansible_become: True

list_of_packages_to_install:
  - "@rh-sso7"

sso_admin_user: admin
sso_admin_pass: mypa55ss
rh_sso_protocol: https
rh_sso_keystore_name: default
rh_sso_keystore_pass: changeit
rh_sso_keystore_path: "/etc/security/keystore.jks"

realms:
  - realm_name: my-awesome-realm
    realm_id: my-awesome-realm
    realm_displayName: "My Awesome Realm"
    realm_enabled: true
    realm_sslRequired: "external"
    realm_registrationAllowed: true
    realm_emailLogin: true
    realm_dupsAllowed: false
    realm_resetPwd: false
    realm_editUname: false
    realm_bruteForceProtected: true
  - realm_name: a-simpler-realm
    realm_id: simple-realm
    realm_displayName: "Simple Times"
    realm_enabled: false

roles:
  - role_targetRealm: master
    role_name: sample-role
    role_description: "Example of role created via an API call"
    role_attributes:
      key1:
        - value
      key2:
        - value2
    role_clientRole: false
    role_composite: false
