---

ansible_user: cloud-user
ansible_become: True

list_of_packages_to_install:
  - "@rh-sso7"

sso_protocol: https
sso_admin_user: admin
sso_admin_pass: mypa55ss
sso_keystore_name: default
sso_keystore_pass: changeit
sso_keystore_path: "/etc/security/keystore.jks"

realms:
  - realm_name: my-awesome-realm
    realm_id: my-awesome-realm
    realm_displayName: "My Awesome Realm"
    realm_enabled: true
    realm_sslRequired: "external"
    realm_registrationAllowed: true
    realm_emailLogin: true
    realm_dupsAllowed: false
    realm_resetPwd: false
    realm_editUname: false
    realm_bruteForceProtected: true
  - realm_name: a-simpler-realm
    realm_id: simple-realm
    realm_displayName: "Simple Times"
    realm_enabled: false
