apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{CLAIR_POSTGRES}}
  name: {{CLAIR_POSTGRES}}
  namespace: {{QUAY_NAMESPACE}}
spec:
  ports:
    - nodePort: 30680
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    app: {{CLAIR_POSTGRES}}
  type: NodePort