apiVersion: v1
kind: Service
metadata:
 namespace: {{QUAY_NAMESPACE}}
 name: {{REDIS_SERVICE_NAME}}
 labels:
  quay-enterprise-component: redis
spec:
 ports:
  - port: {{REDIS_APP_PORT}}
 selector:
   quay-enterprise-component: redis
