apiVersion: v1
kind: Service
metadata:
  namespace: {{QUAY_NAMESPACE}}
  name: {{QUAY_CONFIG_SERVICE_NAME}}
spec:
  type: ClusterIP
  ports:
    - protocol: {{QUAY_CONFIG_SERVICE_PROTOCOL}}
      name: {{QUAY_CONFIG_SERVICE_PORT_NAME}}
      port: {{QUAY_CONFIG_SERVICE_PORT}}
      targetPort: {{QUAY_CONFIG_SERVICE_TARGET_PORT}}
  selector:
    quay-enterprise-component: config-app
