---

- name: "Create activation key"
  command: >
    hammer
      -u "{{ satellite_username }}"
      -p "{{ satellite_password }}"
      activation-key create
      --name "{{ activation_key.name }}"
      --lifecycle-environment Library
      --organization "{{ satellite_organization }}"
  register: chk_ak
  failed_when:
    - chk_ak.rc != 65
    - chk_ak.rc != 0

- name: "Add subs to activation key"
  command: >
     hammer
       -u "{{ satellite_username }}"
       -p "{{ satellite_password }}"
       activation-key add-subscription
       --name "{{ activation_key.name }}"
       --subscription-id "{{ item.ID }}"
       --organization "{{ satellite_organization }}"
  when:
    - (activation_key.type is defined and
       item.Type == activation_key.type and
       item.Name == activation_key.subscription) or
      (activation_key.type is undefined and
       item.Name == activation_key.subscription)
  with_items:
    - "{{ subids.stdout | from_yaml }}"
  register: ak_chk
  failed_when:
    - ak_chk.rc != 128
    - ak_chk.rc != 0

- name: "Turn off autoattach on activation key(s)"
  command: >
    hammer
      -u "{{ satellite_username }}"
      -p "{{ satellite_password }}"
      activation-key update
      --auto-attach false
      --name "{{ activation_key.name }}"
      --organization "{{ satellite_organization }}"
