
{% for be in lb_entries %}

{% if ((be.lb_ssl_enabled is defined and be.lb_ssl_enabled) or
       (be.lb_ssl_enabled is undefined and be.lb_port|string == '443')) %}
{% set lb_ssl_enabled = True %}
{% else %}
{% set lb_ssl_enabled = False %}
{% endif %}

{% set lb_host = (be.name | default(be.lb_host)) | regex_replace('^\.', '') %}

backend {{ lb_host }}-{{ be.lb_port }}
{% if lb_ssl_enabled %}
    mode tcp
    balance roundrobin
{% else %}
    balance roundrobin
    option httpclose
    option forwardfor
    cookie JSESSIONID prefix
{% endif %}

{% for backend in be.backends %}
{% set lb_host = backend.name | default(backend.lb_host) %}
{% set lb_port = backend.lb_port | default(be.lb_port) %}

{% if lb_ssl_enabled %}
    server {{ lb_host }} {{ backend.lb_host }}:{{ lb_port }} check
{% else %}
    server {{ lb_host }} {{ backend.lb_host }}:{{ lb_port }} cookie A check
{% endif %}
{% endfor %}

{% endfor %}
