{
  "alias": "{{ id_provider.alias }}",
  "config": {{ id_provider.config }},
  "displayName": "{{ id_provider.displayName }}",
  "enabled": "{{ id_provider.enabled }}",
  "internalId": "{{ id_provider.internalId }}",
  "linkOnly": "{{ id_provider.linkOnly }}",
  "firstBrokerLoginFlowAlias": "{{ id_provider.firstBrokerLoginFlowAlias }}",
  "postBrokerLoginFlowAlias": "{{ id_provider.postBrokerLoginFlowAlias }}",
  "providerId": "{{ id_provider.providerId }}",
  "storeToken": "{{ id_provider.storeToken }}",
  "addReadTokenRoleOnCreate": "{{ id_provider.addReadTokenRoleOnCreate }}",
  "trustEmail": "{{ id_provider.trustEmail }}"
}

