{
  "id": "{{ realm_id | default(realm_name) }}",
  "realm": "{{ realm_name }}",
  "displayName": "{{ realm_displayName }}",
  "enabled": "{{ realm_enabled | default(true) }}",
  "sslRequired": "{{ realm_sslRequired | default('external') }}",
  "registrationAllowed": "{{ realm_registrationAllowed | default(true) }}",
  "loginWithEmailAllowed": "{{ realm_emailLogin | default(true) }}",
  "duplicateEmailsAllowed": "{{ realm_dupsAllowed | default(false) }}",
  "resetPasswordAllowed": "{{ realm_resetPwd | default(false) }}",
  "editUsernameAllowed": "{{ realm_editUname | default(false) }}",
  "bruteForceProtected": "{{ realm_bruteForceProtected | default(true) }}"
}

