{
  "name": {{ string }},
  "description": {{ string | default('') }},
  "organization": {{ organization.id | default('') }},
  "credential_type": {{ id | default('') }},
  "inputs": {{dict | default({}) }},
}
