{
  "name": {{ galaxy_credential.name }},
  "description": {{ galaxy_credential.description | default('') }},
  "organization": {{ organization_id | default('') }},
  "credential_type": {{ galaxy_credential_type_id | default('') }},
  "inputs": {{ galaxy_credential.inputs | default({}) }},
}
