---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ openshift_pg_pvc_name }}
  namespace: {{ openshift_project }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ openshift_pg_pvc_size}}

