---

- import_tasks: determine-action.yml

- block:
    - import_tasks: prereq.yml
    - import_tasks: process-views.yml
    - import_tasks: keys.yml
    - import_tasks: print_keys.yml
  when:
  - named_processing|bool == True
