---

- name: Determine if Route53 processing is required
  set_fact:
    route53_processing: True
  when:
    - item.1.route53 is defined
  with_subelements:
    - "{{ dns_data.views | default({}) }}"
    - zones
