{% for view in named_config_views %}
view "{{ view.name }}" {
	match-clients { "{{ view.name }}"; };

	recursion {{ view.recursion | default(named_config_recursion) }};

{% for zone in view.zone %}
	zone "{{ zone.dns_domain }}" IN {
		type {{ zone.type | default(dns_server_type) }};
{% if zone.type|default(dns_server_type) == "forward" %}
                forward only;
		forwarders {
	{% for forwarder in zone.forwarders %}
		{{ forwarder }};
	{% endfor %}
		};
{% else %}
		file "static/{{ view.name }}-{{ zone.dns_domain }}.db";
		allow-update { key {{ view.name }}-{{ zone.dns_domain }}; };
{% if dns_server_type == "slave" %}
		masters {
	{% for server in ansible_play_batch %}
	{% if hostvars[server].dns_server_type|default(dns_server_type) == "master" %}
			{{ hostvars[server].ansible_default_ipv4.address }} key {{ view.name }}-{{ zone.dns_domain }};
	{% endif %}
	{% endfor %}
		};
{% endif %}
{% endif %}
	};

{% endfor %}

{% if view.default_forwarders is defined %}
	include "/etc/named.rfc1912.zones";

	zone "." {
		type forward;
		forwarders {
	{% for forwarder in view.default_forwarders %}
		{{ forwarder }};
	{% endfor %}
		};
	};
{% else %}
	zone "." {
		type forward;
		forwarders {
			127.0.0.1;
		};
	};
{% endif %}

};

{% endfor %}
