{% for view in named_config_views %}
acl "{{ view.name }}" {
{% for zone in view.zone %}
        key "{{ view.name }}-{{ zone.dns_domain }}";
{% endfor %}
{% for view_exclude in named_config_views %}
{% if view_exclude.name != view.name %}
{% for zone_exclude in view_exclude.zone %}
        !key "{{ view_exclude.name }}-{{ zone_exclude.dns_domain }}";
{% endfor %}
{% endif %}
{% endfor %}
{% if view.acl_entry is defined %}
{% for acl_entry in view.acl_entry %}
	{{ acl_entry }};
{% endfor %}
{% else %}
	0.0.0.0/0;
{% endif %}
};
{% endfor %}
