{% for view in named_config_views %}
view "{{ view.name }}" {
	match-clients { "{{ view.name }}"; };

{% for zone in view.zone %}
	zone "{{ zone.dns_domain }}" IN {
		type master;
		file "static/{{view.name}}-{{zone.dns_domain}}.db";
		allow-update { key {{view.name}}-{{zone.dns_domain}}; };
	};

{% endfor %}

{% if view.forwarder is defined %}
	include "/etc/named.rfc1912.zones";

	zone "." {
		type forward;
		forwarders {
	{% for forwarder in view.forwarder %}
		{{ forwarder }};
	{%endfor %}
		};
	};
{% else %}
	zone "." {
		type forward;
		forwarders {
			127.0.0.1;
		};
	};
{% endif %}

};

{% endfor %}
