{
    "key": "{{ confluence_space_key }}",
    "name": "{{ confluence_space_name }}",
    "description": {
        "plain": {
            "value": "{{ confluence_space_description }}",
            "representation": "plain"
        }
    },
    "metadata": {}
}

