---

- name: "Set default values"
  set_fact:
    processed_job_templates: []
    existing_job_templates_output: []

- name: "Get the existing inventories"
  uri:
    url: https://localhost/api/v2/inventories/
    method: GET
    headers:
      Content-Type: "application/json"
    user: admin
    password: "{{ tower_admin_password }}"
    validate_certs: no
    return_content: yes
  register: existing_inventories_output

- name: "Get the existing projects"
  uri:
    url: https://localhost/api/v2/projects/
    method: GET
    headers:
      Content-Type: "application/json"
    user: admin
    password: "{{ tower_admin_password }}"
    validate_certs: no
    return_content: yes
  register: existing_projects_output

- name: "Get the existing job templates"
  uri:
    url: https://localhost/api/v2/job_templates/
    method: GET
    headers:
      Content-Type: "application/json"
    user: admin
    password: "{{ tower_admin_password }}"
    validate_certs: no
    return_content: yes
  register: existing_job_templates_output

- name: "Process the inventory job template"
  include_tasks: process-job-template.yml
  with_items:
  - "{{ ansible_tower_job_templates }}"
  loop_control:
    loop_var: job_template

- name: "Elminate the job templates that should not be present"
  uri:
    url: https://localhost/api/v2/job_templates/{{ item.id }}/
    method: DELETE
    user: admin
    password: "{{ tower_admin_password }}"
    validate_certs: no
    status_code: 200,204
  with_items:
  - "{{ existing_job_templates_output.json.results | get_remaining_items(processed_job_templates, 'name', 'name')}}"
