---

- name: "Get the credential id based on the credential name"
  set_fact:
    credential_id: "{{ item.id }}"
  when:
  - item.name|trim == job_template_credential|trim
  loop: "{{ existing_credentials_output.rest_output }}"

- name: "Add credential to job_template"
  uri:
    url: "{{ ansible_tower.url | default(default_ansible_tower_url) }}/api/v2/job_templates/{{ job_template_id }}/credentials/"
    user: "{{ ansible_tower.admin_username | default(default_ansible_tower_admin_username) }}"
    password: "{{ ansible_tower.admin_password }}"
    force_basic_auth: yes
    method: POST
    body: '{ "id": {{ credential_id | int }} }'
    body_format: 'json'
    headers:
      Content-Type: "application/json"
      Accept: "application/json"
    validate_certs: no
    status_code: 204,400

- name: "Clear/Update facts"
  set_fact:
    credential_id: ''
