{
    "username": "{{ sso_user.username | mandatory }}",
    "firstName": "{{ sso_user.firstName | default('') }}",
    "lastName": "{{ sso_user.lastName | default('') }}",
    "email": "{{ sso_user.email | default('') }}",
    "enabled": {{ sso_user.enabled | default(true) }},
    "emailVerified": {{ sso_user.emailVerified | default(false) }},
}
