{% for view in named_config_views %}
view "{{ view.name }}" {
	match-clients { "{{ view.name }}"; };
	recursion {{ view.recursion | default('yes') }};

{% for zone in view.zone %}
	zone "{{ zone.dns_domain }}" IN {
		type {{ dns_server_type|default(default_dns_server_type) }};
		file "static/{{ view.name }}-{{ zone.dns_domain }}.db";
		allow-update { key {{ view.name }}-{{ zone.dns_domain }}; };
{% if dns_server_type|default(default_dns_server_type) == "slave" %}
		masters {
	{% for server in ansible_play_batch %}
	{% if hostvars[server].dns_server_type|default(default_dns_server_type) == "master" %}
			{{ hostvars[server].ansible_default_ipv4.address }};
	{% endif %}
	{% endfor %}
		};
{% endif %}
	};

{% endfor %}

{% if view.forwarder is defined %}
	include "/etc/named.rfc1912.zones";

	zone "." {
		type forward;
		forwarders {
	{% for forwarder in view.forwarder %}
		{{ forwarder }};
	{% endfor %}
		};
	};
{% else %}
	zone "." {
		type forward;
		forwarders {
			127.0.0.1;
		};
	};
{% endif %}

};

{% endfor %}
