$ORIGIN .
$TTL 3600
{{ item.dns_domain }}     IN SOA  ns1.{{ item.dns_domain }}. hostmaster.{{ item.dns_domain }}. (
                                {{ ansible_date_time.epoch }}   ; serial
                                60         ; refresh (1 minute)
                                15         ; retry (15 seconds)
                                1800       ; expire (30 minutes)
                                10         ; minimum (10 seconds)
                                )
                        NS      ns1.{{ item.dns_domain }}.
$ORIGIN {{ item.dns_domain }}.
ns1          3600  IN   A       {{ ansible_default_ipv4.address }}

