
{

  "consent-telemetry": "{{ crc_server_config_consent_telemetry }}",
  "cpus": "{{ crc_server_config_cpus }}",
  "disable-update-check": "{{ crc_server_config_disable_update_check }}",
  "disk-size": "{{ crc_server_config_disk_size }}",
  "enable-cluster-monitoring": "{{ crc_server_config_enable_cluster_monitoring }}",
  "enable-experimental-features": "{{ crc_server_config_enable_experimental_features }}",
  "memory": "{{ crc_server_config_memory }}",
  "pull-secret-file": "{{ crc_server_config_pull_secret_file }}",
  "skip-check-admin-helper-cached": "{{ crc_server_config_skip_check_admin_helper_cached }}",
  "skip-check-bundle-extracted": "{{ crc_server_config_skip_check_bundle_extracted }}",
  "skip-check-crc-network": "{{ crc_server_config_skip_check_crc_network }}",
  "skip-check-crc-network-active": "{{ crc_server_config_skip_check_crc_network_active }}",
  "skip-check-dnsmasq-network-manager-config": "{{ crc_server_config_skip_check_dnsmasq_network_manager_config }}",
  "skip-check-kvm-enabled": "{{ crc_server_config_skip_check_kvm_enabled }}",
  "skip-check-libvirt-driver": "{{ crc_server_config_skip_check_libvirt_driver }}",
  "skip-check-libvirt-group-active": "{{ crc_server_config_skip_check_libvirt_group_active }}",
  "skip-check-libvirt-installed": "{{ crc_server_config_skip_check_libvirt_installed }}",
  "skip-check-libvirt-running": "{{ crc_server_config_skip_check_libvirt_running }}",
  "skip-check-libvirt-version": "{{ crc_server_config_skip_check_libvirt_version }}",
  "skip-check-network-manager-dispatcher-fle": "{{ crc_server_config_skip_check_network_manager_dispatcher_file }}",
  "skip-check-network-manager-installed": "{{ crc_server_config_skip_check_network_manager_installed }}",
  "skip-check-network-manager-running": "{{ crc_server_config_skip_check_network_manager_running }}",
  "skip-check-ram": "{{ crc_server_config_skip_check_ram }}",
  "skip-check-root-user": "{{ crc_server_config_skip_check_root_user }}",
  "skip-check-supported-cpu-arch": "{{ crc_server_config_skip_check_supported_cpu_arch }}",
  "skip-check-systemd-networkd-running": "{{ crc_server_config_skip_check_systemd_networkd_running }}",
  "skip-check-systemd-resolved-running": "{{ crc_server_config_skip_check_systemd_resolved_running }}",
  "skip-check-user-in-libvirt-group": "{{ crc_server_config_skip_check_user_in_libvirt_group }}",
  "skip-check-virt-enabled": "{{ crc_server_config_skip_check_virt_enabled }}",
  "skip-check-vsock": "{{ crc_server_config_skip_check_vsock }}",
  "skip-check-wsl2": "{{ crc_server_config_skip_check_wsl2 }}"

}
