{
    "key": "{{ atlassian.confluence.destination.key }}",
    "name": "{{ atlassian.confluence.destination.name }}",
    "description": {
        "plain": {
            "value": "{{ atlassian.confluence.destination.description }}",
            "representation": "plain"
        }
    },
    "metadata": {}
}

