---

- block:

    - name: 'Install required packages'
      package:
        name: '{{ item }}'
        state: installed
      loop: '{{ lb_install_packages|flatten(levels=-1) }}'
      notify: 'enable and start service(s)'

    - name: 'Start firewalld'
      service:
        name: firewalld
        state: started
        enabled: yes

    - name: 'Enable syslog logging'
      copy:
        src: rsyslog_haproxy.conf
        dest: /etc/rsyslog.d/haproxy.conf
      notify: 'restart rsyslog'

  become: True
