{% for v in dns_data %}
acl "{{ v.name }}" {
{% for z in v.zones %}
        key "{{ v.name }}-{{ z.dns_domain }}";
{% endfor %}
{% for view_exclude in dns_data %}
{% if view_exclude.name != v.name %}
{% for zone_exclude in view_exclude.zones %}
        !key "{{ view_exclude.name }}-{{ zone_exclude.dns_domain }}";
{% endfor %}
{% endif %}
{% endfor %}
{% if v.acl_entry is defined %}
{% for acl_entry in v.acl_entry %}
	{{ acl_entry }};
{% endfor %}
{% else %}
	0.0.0.0/0;
{% endif %}
};
{% endfor %}
