{
    "name": "{{ credential.name }}",
    "description": "{{ credential.description | default('') }}",
    "organization": {{ org_id }},
    "user": null,
    "team": null,
    "credential_type": {{ credential_type_id }},
    {% if credential.inputs is defined and credential.inputs | length > 0 -%}
    "inputs": {{ credential.inputs | to_json }}
    {% else -%}
    "inputs": {}
    {% endif -%}
}
