{
    "name": "{{ credential.name }}",
    "description": "{{ credential.description | default('') }}",
    "organization": {{ org_id }},
    "user": null,
    "team": null,
    "credential_type": {{ credential_type_id }},
    "inputs": {}
}
