---

name: Repo Linter

on: [push, pull_request]

jobs:
  yaml_lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: yaml-lint
      uses: ibiqlik/action-yamllint@master
      with:
        # File(s) or Directory, separate by space if multiple files or folder are specified
        file_or_dir: roles/* playbooks/* plugins/* inventory/group_vars/* inventory/host_vars/*
        # Path to custom configuration
        config_file: .github/workflow-config/yamllint.yml
        # Custom configuration (as YAML source)
        # config_data: # optional
        # Format for parsing output [parsable,standard,colored,auto]
        # format: # optional, default is colored
        # Return non-zero exit code on warnings as well as errors
        # strict: # optional, default is false

