---

- name: "Set up router(s)"
  os_router:
    cloud: "{{ item.cloud | default(osp_default_cloud) | default(omit) }}"
    project: "{{ item.project | default(omit) }}"
    state: "{{ item.state | default(osp_resource_state) | default('present') }}"
    name: "{{ item.name }}"
    network: "{{ item.external_gateway }}"
    interfaces:
    - "{{ item.subnet }}"
  with_items:
  - "{{ osp_routers | default([]) }}"
